@model NewsViewModel
@inject ICloudinaryService _cloudinaryService
@{
    ViewData["Title"] = "Xəbəri yenilə";
}


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Xəbəri yenilə</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Vəziyyəti</label>
                    <div class="custom-control custom-radio custom-control-inline ml-3">
                        <input id="statusActive" type="radio" asp-for="SoftDeleted" value="true" class="custom-control-input">
                        <label class="custom-control-label" for="statusActive">Passiv</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input id="StatusPassive" type="radio" asp-for="SoftDeleted" value="false" class="custom-control-input" checked="">
                        <label class="custom-control-label" for="StatusPassive">Aktiv</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Komment Bildirmək</label>
                    <div class="custom-control custom-radio custom-control-inline ml-3">
                        <input id="CommentActive" type="radio" asp-for="Comment" value="true" class="custom-control-input" checked="">
                        <label class="custom-control-label" for="CommentActive">Olsun</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input id="CommentPassive" type="radio" asp-for="Comment" value="false" class="custom-control-input">
                        <label class="custom-control-label" for="CommentPassive">Olmasin</label>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Title">Başlığ</label>
                    <input class="form-control form-control-user slug-source" asp-for="Title">
                    <span class="field-validation-valid text-danger" asp-validation-for="Title"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CategoryId">Kategoriya</label>
                    <select class="form-control form-control-user" asp-for="CategoryId">
                        <option value="0" selected disabled>Seçin</option>
                        @foreach (var item in ViewBag.Categories)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span class="field-validation-valid" asp-validation-for="CategoryId"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Text">Mətn</label>
                    <textarea class="form-control form-control-user slug-source" asp-for="Text"></textarea>
                    <span class="field-validation-valid text-danger" asp-validation-for="Text"></span>
                </div>

                <div class="form-group">
                    <label asp-for="VideoLink">Video Linki Embed</label>
                    <textarea class="form-control form-control-user slug-source" asp-for="VideoLink"></textarea>
                    <span class="field-validation-valid text-danger" asp-validation-for="VideoLink"></span>
                </div>

                <div class="form-group gallery">
                    <label for="files" type="button" id="uploader" class="btn btn-secondary">Şəkillər əlavə edin</label>
                    <input type="file" name="files" id="files" multiple="" class="d-none" accept="image/*">
                    <div class="photos">
                        @for (int i = 0; i < Model.Photos.Count; i++)
                        {
                        <div class="item">
                            <input type="hidden" value="@i" name="Photos[@i].OrderBy" />
                            <input type="hidden" value="@Model.Photos[i].Id" name="Photos[@i].Id" />
                            <input type="hidden" asp-for="Photos[i].Image" />
                            <img src="@_cloudinaryService.BuildUrl(Model.Photos[i].Image)" />
                            <div class="chechbox">
                                <input class="form-check-input news-photo" value="false" asp-for="Photos[i].Main" type="checkbox" id="inlineCheckbox1" onclick="selectPhotoAsMain(this)">
                                <label class="form-check-label" for="inlineCheckbox1">Əsas şəkil</label>
                            </div>
                            <a href="#" data-name="@Model.Photos[i].Image" data-id="@Model.Photos[i].Id" class="remove"><i class="fa fa-trash"></i></a>
                        </div>
                        }
                    </div>
                </div>

                <div class="form-group d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-pencil-alt"></i>
                        </span>
                        <span class="text">Yenilə</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready(function () {
            if ($("input[name='files']").length) {
                $("input[name='files']").change(function () {
                    for (var i = 0; i < this.files.length; i++) {
                        var formData = new FormData();
                        formData.append('file', this.files[i]);
                        formData.append('newsId',@Model.Id);
                        formData.append('orderBy', $(".photos .item").length + 1);
                        $.ajax({
                            url: '/news/upload',
                            type: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            dataType: "json",
                            success: function (response) {
                                let index = $(".photos .item").length;
                                $(".photos").append(`<div class="item">
                                                        <input type="hidden" value="${ (index + 1)}" name="Photos[${index}].OrderBy" />
                                                        <input type="hidden" value="${ (response.id)}" name="Photos[${index}].Id" />
                                                        <input type="hidden" value="${  response.filename}" name="Photos[${index}].Image" />
                                                        <img src="${ response.src}" />
                                                        <div class="chechbox">
                                                            <input class="form-check-input news-photo" value="false" name="Photos[${index}].Main" type="checkbox" id="inlineCheckbox1" onclick="selectPhotoAsMain(this)">
                                                            <label class="form-check-label" for="inlineCheckbox1">Əsas şəkil</label>
                                                        </div>
                                                        <a href="#" data-name="${  response.filename}" class="remove"><i class="fa fa-trash"></i></a>
                                                    </div>`);
                            }
                        });
                    }
                });
                $(document).on("click", ".photos .remove", function (ev) {
                    ev.preventDefault();
                    let elem = $(this).parents(".item");
                    $.ajax({
                        url: '/news/remove',
                        data: {
                            name: $(this).data("name"),
                            id: $(this).data("id")
                        },
                        type: "post",
                        dataType: "json",
                        success: function (response) {
                            elem.remove();
                        }
                    });
                });
            }

            CKEDITOR.replace('Text');
        });
        function selectPhotoAsMain(obj) {
            let allPhotos = document.getElementsByClassName("news-photo");
            for (let index = 0; index < allPhotos.length; index++) {
                allPhotos[index].value = "false";
                allPhotos[index].checked = false;
            }
            obj.value = "true";
            obj.checked = true;
        }
    </script>
}

@section Head{
    <link rel="stylesheet" href="~/css/photo-upload.css" />
    <script src="//cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
}
